body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(210, 217, 223, 0.552);
    flex-direction: column;
}

/*div de la barra*/

.search-bar{
    background-color: rgba(240, 248, 255,0);
    margin-left: auto;
    width: 250px;
    margin-right: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

/* div del imput de la barra*/

.bar{
    border: none;
    background-color: rgba(240,248,255,0);
}
.goo{
    border: none;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}