/*root sirve para aplicar estilos o colores */

:root {
--primary-color: #1ee41e; 
--background-dark: #400562;
--card-bg: hsl(109, 97%, 54%);   
--text-light: #c9cedc;
--color-nav : rgb(91, 8, 99); 
--text-hover: #000000;
}

*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins', sans-serif;
}

body {
 background: var(--background-dark);
 color: var(--text-light);
 overflow-x: hidden;
}

nav {
display: flex;
justify-content: space-between;
padding: 2rem 5%;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 2rem;

}

.nav-links a {
color: var(--color-nav);
text-decoration: none;
transform: 0.3s;
}

.nav-links a:hover {
    color: var(--text-hover);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 5%;
}

.hero-text {
    width: 45%;
}

h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.high {
    color: var(--primary-color);
}

p {
    margin: 1.5rem 0;
    line-height: 1.6;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    background: transparent;
    color: var(--text-light);
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.btn:hover {
    background: var(--card-bg);
    box-shadow: 0 0 15px;
}

.hero-image {
position: relative;
width: 400px;
height: 400px;
}

.profile-img {
    width: 60%;
    height: 50%;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50% -50%);
    z-index: 1;
}

.tech-orbits {
    position: absolute;
    width: 100px;
    height: 100px;
    animation: rotate 20s linear infinite;
}

.tech-icon {
    position: absolute;
    width: 40px;
    border-radius: 50%;
}

@keyframes rotate {
    100%{transform: rotate(360seg);}    
}