body{
    background-color: beige;
}

h1{
    color:white;
    background-color:azure;
    margin-bottom: 20px;
    margin-top: 20px;

    padding: 10px;
    border: 5px solid black;
    width: 600px;
    height: 100px;
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
} 
